*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.home{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/home.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.home p{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
}
.home p span{
    font-size: 44px;
    font-weight: bold;
    text-transform: uppercase;
}

.home hr{
    width: 300px;
}

.home h1{
    font-size: 200px;
    color: rgb(189, 189, 39);
}

.home h3{
    font-size: 33px;
    text-transform: uppercase;
}

.material-symbols-outlined{
    font-size: 200px !important;
}

.p2{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(../assets/img/p2.jpg);
    background-size: cover;
}

.p2_header_contanier{
    width: 50vw;
    font-size: 30px;
    padding: 120px;
    text-align: left;
    
}

.info_container{
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.info_container p{
    margin-bottom: 40px;
    font-size: 20px;
    
}

.info_container button{
    width: 120px;
    height: 40px;
    background-color: rgb(189, 189, 39);
    border: none;
    font-size: 17px;
}

.p3{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/p3.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.p3_imgs{
    display: flex;
    flex-direction: row;    
    width: 100vw;
    height: 500px;
    justify-content: space-evenly;
}

.p3_imgs h3{
    font-size: 23px !important;
    padding: 20px;
    color: white;
}
.p3_imgs span{
    font-size: 100px !important;
    color: rgb(189, 189, 39);
}
.place_1{
    background-image: url(../assets/img/p3_img1.jpg);
    background-size: cover;
    width: 350px;
    
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
}

.place_2{
    background-image: url(../assets/img/p3_img2.jpg);
    background-size: cover;
    width: 350px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
}

.place_3{
    background-image: url(../assets/img/p3_img3.jpg);
    background-size: cover;
    width: 350px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
}

.p3 header{
    font-size: 40px;
    color: rgb(189, 189, 39);
    font-weight: bold;
}

.p3 button{
    width: 120px;
    height: 40px;
    background-color: rgb(189, 189, 39);
    border: none;
    font-size: 17px;
}



.p4{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(../assets/img/p4.jpg);
    background-size: cover;
}

.p4 h3{
    font-size: 40px;
    color: rgb(189, 189, 39);
}

.p4_header_contanier{
    width: 50vw;
    font-size: 30px;
    padding: 120px;
    text-align: left;
    
}

.p4_info_container{
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.p4_info_container p{
    margin-bottom: 40px;
    font-size: 20px;
    
}

.p4_info_container button{
    width: 120px;
    height: 40px;
    background-color: rgb(189, 189, 39);
    border: none;
    font-size: 17px;
}




.p5{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(../assets/img/p5.jpg);
    background-size: cover;
}

.circle{
    background-color: black;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.circle h1{
    font-size: 80px;
    color: rgb(189, 189, 39);
}
.circle p{
    font-size: 18px;
}


.p6{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url(../assets/img/p5.jpg);
    background-size: cover;
    flex-direction: column;
    
}

.p6 .person{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-image: url(../assets/img/p6_person.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 70px;
    margin-bottom: 40px;
}

.p6 p{
    width: 600px;
    height: auto;
    font-size: 23px;
    color: white;

}

.p6 h3{
    margin-top: 15px;
    font-size: 22px;
    color: white;
    font-weight: bold;
}
.p6 span{
    font-size: 50px;
    color: rgb(189, 189, 39);

}




.p7{
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.pic1{
    background-image: url(../assets/img/pic1.jpg);
    background-size: cover;
    width: 25vw;
    height: 100%;
}

.pic2{
    background-image: url(../assets/img/pic2.jpg);
    background-size: cover;
    width: 25vw;
    height: 100%;
}

.pic3{
    background-image: url(../assets/img/pic4.jpg);
    background-size: cover;
    width: 25vw;
    height: 100%;
}

.pic4{
    background-image: url(../assets/img/pic3.jpg);
    background-size: cover;
    width: 25vw;
    height: 100%;
}

.contact{
    display: flex;
    flex-direction: column 2;
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/footer.jpg);
    background-size: cover;
}

.contact_us_container{
    width: 50vw;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    padding: 100px;
    
}

.contact_us_container h1{
    font-size: 60px;
    color: rgb(189, 189, 39);
    margin-top: 205px;
    margin-bottom: 85px;
}

.contact_us_container h3{
    margin-bottom: 20px;
    font-weight: 100;
    color: white;
}